<ion-view>
    <ion-content class="padding marginTop" style="padding:10px 2px;" ng-class="{'has-header has-tabs-top': androidPlatform, 'has-header has-tabs': iosPlatform}" ng-controller="HotCtrl" ng-init="loadAlbums()" style="overflow-y:hidden;">
        <ion-scroll direction="y" style="height: calc(100% - 0px);">
            <ion-list>
                <ion-item ng-click="selectedAlbum(album)" class="albums fullImage album-thumb" ng-repeat="album in albums" href="#/root/videos-single/{{album.id}}">
                    <img ng-src="{{album.al_image_url}}" alt="{{album.al_image_url}}" style="width:100%;height:100%;">
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
        </ion-scroll>
    </ion-content>
</ion-view>
